$darkColor: #040a0a;
$greyColor: #555555;
$whiteColor: #fff;
$mainColor1: #43ffd2;
$mainColor2: #7d2253;
$moreColor: #d978ac;
$moreBlueColor: #3d5279;
$moreGoldColor: #c8a156;
$moreVioletColor: #6b535f;
$moreRedColor: #922d2d;
