.intro-catalog {
  &__inner {
    position: relative;
    margin-top: 70px;
    margin-bottom: 165px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 300px;
      z-index: 0;

      filter: blur(130px);
      transform: rotate(32.83deg);
    }
    &::after {
      top: 45%;
      left: -12.5%;
      width: 720px;
      height: 236px;

      background-color: $mainColor2;
    }
    &::before {
      top: 55%;
      right: -15%;
      width: 825px;
      height: 211px;

      background-color: $mainColor1;
    }
  }
  &__paragraph {
    max-width: 540px;
    margin-left: 70px;
    margin-right: 15px;
    margin-top: 20px;
  }
  &__row {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
  }
  &__tile {
    position: relative;
    z-index: 2;
    margin: 15px;
    width: 100%;
    padding: 30px 30px 30px 50px;
    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(7px);

    &--1 {
      margin-left: auto;
      max-width: 445px;
    }
    &--2 {
      margin-top: -80px;
    }
    &-title {
      max-width: 270px;
      margin-bottom: 10px;

      font-weight: 700;
      font-size: 30px;
      line-height: 113%;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: $mainColor1;
    }
    &-list {
      list-style: unset;
      margin-left: 30px;
      margin-bottom: 24px;
    }
    &-item {
      font-family: "Oswald";
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
    &-link {
      display: block;
      margin-left: auto;
      width: fit-content;

      font-weight: 700;
      font-size: 14px;
      line-height: 18px;

      letter-spacing: 0.1em;
      text-decoration-line: underline;
      text-transform: uppercase;

      color: $moreColor;
      transition: all, 0.2s;

      &:hover {
        text-decoration: none;
      }
    }
  }
  &__background-text {
    position: absolute;
    z-index: 0;

    font-weight: 700;
    font-size: 200px;
    line-height: 296px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    filter: contrast(0.05) opacity(0.09);
    color: $darkColor;
    &--1 {
      top: 5%;
      right: -20%;
    }
    &--2 {
      top: 30%;
      left: -15%;
    }
    &--3 {
      bottom: -10%;
      right: -90%;
    }
  }

  @media (max-width: 1440px) {
    &__paragraph {
      max-width: calc(280px + (540 - 280) * (100vw - 320px) / (1440 - 320));
      margin-left: calc(1px + (70 - 1) * (100vw - 320px) / (1440 - 320));
    }
    &__tile {
      padding: calc(20px + (30 - 20) * (100vw - 320px) / (1440 - 320));
      padding-left: calc(20px + (50 - 20) * (100vw - 320px) / (1440 - 320));
      &-title {
        font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1440 - 320));
      }
      &-item {
        font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1440 - 320));
      }
    }
  }
  @media (max-width: 720px) {
    &__background-text {
      display: none;
    }
    &__row {
      flex-direction: column;
    }
    &__paragraph {
      max-width: 100%;
      margin: 20px 0;
    }
    &__tile {
      margin: 15px 0;
      &--1 {
        max-width: 100%;
      }

      &-title {
        max-width: 100%;
      }
    }
  }
}
